## Lab - EDA Bivariate Analysis: Diving into Amazon UK Product Insights Part II

**Objective**: Delve into the dynamics of product pricing on Amazon UK to uncover insights that can inform business strategies and decision-making.

**Dataset**: This lab utilizes the [Amazon UK product dataset](https://www.kaggle.com/datasets/asaniczka/uk-optimal-product-price-prediction/)
which provides information on product categories, brands, prices, ratings, and more from from Amazon UK. You'll need to download it to start working with it.

---

### Part 1: Analyzing Best-Seller Trends Across Product Categories

**Objective**: Understand the relationship between product categories and their best-seller status.

1. **Crosstab Analysis**:
    - Create a crosstab between the product `category` and the `isBestSeller` status.
    
    - Are there categories where being a best-seller is more prevalent? 
    	
    	*Hint: one option is to calculate the proportion of best-sellers for each category and then sort the categories based on this proportion in descending order.*


2. **Statistical Tests**:
    - Conduct a Chi-square test to determine if the best-seller distribution is independent of the product category.
    - Compute Cramér's V to understand the strength of association between best-seller status and category.

3. **Visualizations**:
	- Visualize the relationship between product categories and the best-seller status using a stacked bar chart.

---

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [8]:
csv = '/Users/catherinewu/Downloads/amz_uk_price_prediction_dataset.csv'

df_amz = pd.read_csv(csv)
df_amz

,uid,asin,title,stars,reviews,price,isBestSeller,boughtInLastMonth,category
0,1,B09B96TG33,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
1,2,B01HTH3C8S,"Anker Soundcore mini, Super-Portable Bluetooth...",4.7,98099,23.99,True,0,Hi-Fi Speakers
2,3,B09B8YWXDF,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
3,4,B09B8T5VGV,"Echo Dot with clock (5th generation, 2022 rele...",4.7,7205,31.99,False,0,Hi-Fi Speakers
4,5,B09WX6QD65,Introducing Echo Pop | Full sound compact Wi-F...,4.6,1881,17.99,False,0,Hi-Fi Speakers
...,...,...,...,...,...,...,...,...,...
2443646,2828589,B0CHSD7P2Q,"Motorbike Armour, Motorbike Clothing, Cycling ...",0.0,0,22.34,False,0,Motorbike Clothing
2443647,2828590,B0B7B8FNBQ,PROFIRST Waterproof Motorcycle 2 Piece Ladies ...,0.0,0,97.99,False,0,Motorbike Clothing
2443648,2828591,B0BD5FL5FB,Men’s Motorcycle Motorbike Biker Trousers Kevl...,0.0,0,52.99,False,0,Motorbike Clothing
2443649,2828592,B008OYLL4I,Texpeed Mens Motorcycle Motorbike Biker Trouse...,4.3,404,79.99,False,0,Motorbike Clothing
2443650,2828593,B08P3W9B3T,RIDEX CJ223 Motorcycle Motorbike Jacket Armour...,4.5,34,53.99,False,0,Motorbike Clothing

In [16]:
df_amz.drop("uid", inplace=True, axis=1)

In [20]:
potential_categorical_from_numerical = df_amz.select_dtypes("number").loc[:, df_amz.select_dtypes("number").nunique() < 50]
potential_categorical_from_numerical

         stars  boughtInLastMonth
0          4.7                  0
1          4.7                  0
2          4.7                  0
3          4.7                  0
4          4.6                  0
...        ...                ...
2443646    0.0                  0
2443647    0.0                  0
2443648    0.0                  0
2443649    4.3                  0
2443650    4.5                  0

[2443651 rows x 2 columns]

In [26]:
df_numerical = df_amz.select_dtypes("number").drop(columns=potential_categorical_from_numerical.columns)
df_numerical

         reviews  price
0          15308  21.99
1          98099  23.99
2          15308  21.99
3           7205  31.99
4           1881  17.99
...          ...    ...
2443646        0  22.34
2443647        0  97.99
2443648        0  52.99
2443649      404  79.99
2443650       34  53.99

[2443651 rows x 2 columns]

In [42]:
df_categorical = df_amz.select_dtypes("object")
df_categorical

,asin,title,category
0,B09B96TG33,"Echo Dot (5th generation, 2022 release) | Big ...",Hi-Fi Speakers
1,B01HTH3C8S,"Anker Soundcore mini, Super-Portable Bluetooth...",Hi-Fi Speakers
2,B09B8YWXDF,"Echo Dot (5th generation, 2022 release) | Big ...",Hi-Fi Speakers
3,B09B8T5VGV,"Echo Dot with clock (5th generation, 2022 rele...",Hi-Fi Speakers
4,B09WX6QD65,Introducing Echo Pop | Full sound compact Wi-F...,Hi-Fi Speakers
...,...,...,...
2443646,B0CHSD7P2Q,"Motorbike Armour, Motorbike Clothing, Cycling ...",Motorbike Clothing
2443647,B0B7B8FNBQ,PROFIRST Waterproof Motorcycle 2 Piece Ladies ...,Motorbike Clothing
2443648,B0BD5FL5FB,Men’s Motorcycle Motorbike Biker Trousers Kevl...,Motorbike Clothing
2443649,B008OYLL4I,Texpeed Mens Motorcycle Motorbike Biker Trouse...,Motorbike Clothing
2443650,B08P3W9B3T,RIDEX CJ223 Motorcycle Motorbike Jacket Armour...,Motorbike Clothing

In [70]:
df = pd.crosstab(df_amz['category'], df_amz['isBestSeller'])
df['BestSeller (%)'] = (df[True] / df.sum(axis=1) * 100).round(2)
df

isBestSeller                    False  True  BestSeller (%)
category
3D Printers                       247     1        0.403226
3D Printing & Scanning           4065     2        0.049176
Abrasive & Finishing Products     245     5        2.000000
Action Cameras                   1696     1        0.058928
Adapters                          251     3        1.181102
...                               ...   ...             ...
Wind Instruments                  243     7        2.800000
Window Treatments                 234     5        2.092050
Women                           17559   213        1.198515
Women's Sports & Outdoor Shoes   1939    20        1.020929
eBook Readers & Accessories       246     0        0.000000

[296 rows x 3 columns]

In [68]:
df['Proportion'] = (df/df.sum().round(2))
df

ValueError: Cannot set a DataFrame with multiple columns to the single column Proportion